body{
    text-align:Center;
  }
  #rose1{
    font-family: 'Birthstone', cursive;
   
    color:black;
  }
  #roseimg{
    border-radius:10%;
  }
  #roseimg:hover{
    transform: scale(0.9);
  }
  #about{
    font-family: 'Zen Kurenaido', sans-serif;
  }
  